emp-api/src/main/mule/fetch-employee-by-id.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:validation="http://www.mulesoft.org/schema/mule/validation"
	xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd 
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd 
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd">
	<flow name="ftech-employee-by-id-flow" doc:id="c93fea80-eb65-4e9d-8ef1-6d0147ce481a" >
		<http:listener doc:name="Listener" doc:id="432df56f-0c11-4de3-a22b-cdff8856bf8f" config-ref="HTTP_Listener_config" path="employee/{empID}">
			<http:response statusCode="#[vars.httpStatus default 500]" />
			<http:error-response statusCode="#[vars.httpStatus default 500]" >
				<http:body ><![CDATA[#[payload]]]></http:body>
			</http:error-response>
		</http:listener>
		<logger level="INFO" doc:name="Start Log" doc:id="eee1bacc-5171-4ac5-9fa6-fb0fa86d48d1" message="Started fetch-employee-by-id-flow"/>
		<validation:is-number doc:name="Is empID number" doc:id="fd4ada60-fbf3-49e8-92b6-038055086d92" value="#[attributes.uriParams.empID]" numberType="INTEGER" message='#["EmpID Parameter Must be a Number"]'/>
		<db:select doc:name="Fetch Employee By ID" doc:id="01f7b5f1-5d97-47d4-a9c5-114738f44ecf" config-ref="Database_Config">
			<db:sql ><![CDATA[select mas.emp_id, mas.emp_name, mas.emp_status from onboard.emp_master mas where mas.emp_id = :emp_id
]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	"emp_id": attributes.uriParams.empID
}]]]></db:input-parameters>
		</db:select>
		<choice doc:name="Choice" doc:id="72c93e9b-03b6-4533-8e40-b21244953f38" >
			<when expression="#[sizeOf(payload) &gt; 0]">
				<ee:transform doc:name="Prepare Success Response" doc:id="b78d768e-97de-4b0f-b410-a564073d06fa">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"employeeID": payload[0].emp_id,
	"employeeName": payload[0].emp_name,
	"employeeStatus": payload[0].emp_status
}
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
			</when>
			<otherwise >
				<ee:transform doc:name="Prepare Not Found Response" doc:id="313c1f9d-2099-4f16-837b-4b7f70ae0063" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"status": 404,
	"message": "Employee Not Found"
}]]></ee:set-payload>
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="httpStatus" ><![CDATA[404]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
			</otherwise>
		</choice>
		<logger level="INFO" doc:name="End Log" doc:id="0e1ade7a-c300-4680-a6df-b478ae8367d6" message="Completed fetch-employee-by-id-flow"/>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error propagate" doc:id="4756c4d1-6d5c-4456-ab6f-786e999d9dd2" type="VALIDATION:INVALID_NUMBER">
				<ee:transform doc:name="Transform Message" doc:id="0c89fee6-03bd-485e-b3fc-1506a9ed608a" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	status: 400,
	message: error.description
}]]></ee:set-payload>
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="httpStatus" ><![CDATA[400]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="a3c8342a-9ab3-458b-bc83-4d7ddac46620" type="DB:CONNECTIVITY">
				<ee:transform doc:name="Prepare Database Connection Lost Response" doc:id="086364d6-968a-4308-b2b8-de1848d7d422" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	status: 500,
	message: "Database Connection Lost"
}]]></ee:set-payload>
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="httpStatus" ><![CDATA[500]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-continue>
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="5a65e7ae-e3db-49ab-9f26-53d2184cf38c" type="ANY">
				<ee:transform doc:name="Prepare Internal Server Error Response" doc:id="9917d86e-70e4-4ed6-9a34-488ebeb520ce" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	status: 500,
	message: "Internal Server Error"
}]]></ee:set-payload>
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="httpStatus" ><![CDATA[500]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-continue>
</error-handler>
	</flow>
</mule>
	
	
