sample/src/main/mule/sample.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="d7bcb45c-c4b5-4eb9-9c02-1fa360710a59" basePath="sample" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="sampleFlow" doc:id="ddf003da-881e-4ac1-b8f9-d9a13c6ebd73" >
		<http:listener doc:name="Listener" doc:id="aeb30174-b7c3-4d8e-bc70-ccba62f04493" config-ref="HTTP_Listener_config" path="sample" allowedMethods="GET"/>
		<logger level="INFO" doc:name="Logger" doc:id="62314ad4-3c79-4ff5-8e32-43de0ca68dfd" message="1" />
		<set-variable value="Main flow variable" doc:name="Set Variable" doc:id="1ac46960-513d-4399-b69a-3018cd258ea6" variableName="mainVar"/>
		<set-payload value="Flow-payload" doc:name="Set Payload" doc:id="81dcd808-3441-42c6-99c0-9a76996f62a2" />
		<async doc:name="Async" doc:id="400d8497-e6e7-4096-a5e3-993624d3c4e1" >
			<flow-ref doc:name="sampleSub_Flow" doc:id="413eaa14-78e6-47ed-9b44-cea83ec436be" name="sampleSub_Flow" />
		</async>
		<flow-ref doc:name="Flow Reference" doc:id="37d486e6-f24b-4244-9f61-ded6d2e3f454" name="samplePrivateFlow"/>
		<logger level="INFO" doc:name="Logger" doc:id="b27e2d72-f419-43a9-9034-34cce3f22920" message="4- #[payload] sub flow variable- #[vars.subFlowVar]"/>
	</flow>
	<sub-flow name="sampleSub_Flow" doc:id="a5c52266-e5ab-459d-a05e-fa64fa81e0e6" >
		<logger level="INFO" doc:name="Logger" doc:id="2417208f-16bb-4a63-8007-677566c3106b" message="2- #[payload]" />
		<set-variable value="Sub flow variable" doc:name="Set Variable" doc:id="dbad651c-0afa-469b-ba61-0f12d212dfec" variableName="subFlowVar" />
		<logger level="INFO" doc:name="Logger" doc:id="d7d1878b-bf20-402d-83a3-20f7ab498519" message="3 : #[vars.mainVar]" />
		<set-payload value="Sub flow payload" doc:name="Set Payload" doc:id="1d96a872-0dfe-4ff7-b924-e93e608e400a" />
	</sub-flow>
	<flow name="samplePrivateFlow" doc:id="03b69589-b4db-462d-b23e-43ca06055815">
		<logger level="INFO" doc:name="Logger" doc:id="89af48d1-91f0-4bed-80bc-02002935fd8f" message="private flow start log"/>
	</flow>
</mule>
